{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center block shadow">
        <img src="{{ .Params.Image | relURL }}" alt="" class="img-fluid d-block mx-auto rounded-circle mb-4 author-thumb">
        <h4>{{ .Title | markdownify }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
        <ul class="list-inline social-icon mb-0">
          <li class="list-inline-item"><a href="{{ .Params.Twitter | safeURL }}"><i class="ti-twitter-alt"></i></a></li>
          <li class="list-inline-item"><a href="{{ .Params.LinkedIn | safeURL }}"><i class="ti-linkedin"></i></a></li>
        </ul>
      </div>

    </div>

  </div>

</section>

{{/* Omit posts by author for now since all posts are by the same author
<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto px-0">
        <h2 class="mb-4">Posts by author</h2>
        <div class="bg-white shadow block">
          {{ $name:= .Title }}
          {{ range where .Site.RegularPages "Params.author" $name }}
          {{ .Render "article" }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->
*/}}

{{ partial "testimonial.html" . }}
{{ end }}
